.user-card {
  display: block;
  width: 90%;
  margin: 1% auto;
  padding: 1%;
  border: 3px solid #24272B;
  background-color: white;
}

.user-card h2, .user-card p {
  text-align: left;
  margin: 2% 0;
}
